body {
  background: #fbfbfd;
}

.new_footer_area {
  background: #f5f5f5;
}

.new_footer_top {
  padding: 50px 0px 50px;
  position: relative;
  overflow-x: hidden;
}

.footer_bottom {
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
  color: #490b3d;
  padding: 10px 0px;
}

.f_widget .f-title {  
  margin-bottom: 30px;
  font-size: 18px;
  font-weight: 600;
  color: #490b3d;
}

.f_widget p {
  font-size: 16px;
  font-weight: 300;
  line-height: 28px;
  color: #490b3d;
  margin-bottom: 20px;
}

.f_list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.f_list li {
  margin-bottom: 15px;
  text-decoration: none;
}

.f_list li a {
  color: #490b3d;
  text-decoration: none;
}

.f_list li a:hover {
  color: #bd1e51;
}

.f_social_icon a {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  font-size: 20px;
  line-height: 44px;
  color: #490b3d;
  background: #ebeef5;
  text-align: center;
  display: inline-block;
  margin-right: 10px;
  border: 1px solid #e2e2eb;
  transition: all 0.2s ease;
}

.f_social_icon a:hover {
  background: #bd1e51;
  border-color: #bd1e51;
  color: white;
}

.btn_get {
  border: 1px solid #bd1e51;
  background: #bd1e51;
  color: white;
  padding: 10px 20px;
  margin-top: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.btn_get:hover {
  background: white;
  color: #bd1e51;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.col {
  flex: 1 1 22%;
  margin-bottom: 10px;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.align-items-center {
  display: flex;
  justify-content: space-between;
}
