/* Container for register page */
.register-container {
    display: flex;
    width: 100%;
    max-width: 1100px;
    margin: auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Left side image */
.register-image {
    flex: 1;
}

.register-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Right side form */
.register-form {
    flex: 1;
    background: #f8f8f8;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.register-form h2 {
    color: red;
    margin-bottom: 20px;
    font-size: 24px;
}

/* Input Fields */
.register-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    font-size: 16px;
    border: 1px solid #ccc;
}

/* reCAPTCHA Placeholder */
.register-recaptcha-placeholder {
    margin-bottom: 20px;
}

.register-recaptcha-box {
    border: 1px solid #ccc;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
}

/* reCAPTCHA Image Text */
.register-recaptcha-img {
    font-size: 12px;
    color: gray;
}

/* Primary Button */
.register-btn {
    width: 100%;
    background-color: red;
    color: white;
    padding: 10px 0;
    font-size: 16px;
    border: none;
    margin-bottom: 15px;
    cursor: pointer;
}


/* Switch to login text */
.register-switch-text {
    text-align: center;
    font-size: 14px;
}

.register-switch-text a {
    color: red;
    text-decoration: none;
}

.register-switch-text a:hover {
    text-decoration: underline;
}
